/* Set Global HTML Elelments */
body {
    background-color: rgb(209, 209, 209);
    color: #000000;
    font-family: Poppins, Helvetica, sans-serif;
    font-size: 12pt;
    font-weight: 500;
}

.container {
    display: grid;
    background-color: #f2f2f2;
    width: 95%;
    max-width: 1280px;
    margin: 0px auto;
    padding: 10px 20px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        'hd hd hd hd hd hd hd hd'
        'sd sd sd main main main main main'
        'ft ft ft ft ft ft ft ft';
    border: 1px #b2b2b2 solid;
}

header {
    grid-area: hd;
    display: flex;
    margin: 0;
    padding: 0;
    border-bottom: 1px #d2d2d2 solid;
    color: #333333;
}

header h1 {
    text-align: left;
    display: block;
    order: 0;
    width: 30%;
    align-items: center;
}

header h1 img {
    display: block;
    float: left;
    text-decoration: none;
    width: 60px;
    height: 60px;
    align-items: center;
}

header h1 a {
    display: block;
    float: left;
    width: auto;
    padding-top: 5px;
    margin: 0px 10px;
    text-decoration: none;
    align-items: center;
}

nav {
    text-align: left;
    display: block;
    order: 0;
    width: 70%;
    align-items: center;
}

header .nav {
    display: flex;
    justify-content: right;
    margin-top: 40px;
}

header .nav li {
    display: block;
    margin: 0px 10px;
}

header .nav li a {
    text-decoration: none;
    font-weight: 600;
}

.sidebar {
    grid-area: sd;
}

.content {
    grid-area: main;
}

footer {
    grid-area: ft;
}

.copyrights {
    margin-top: 15px;
    float: left;
}

.w3-css-p {
    float: right;
}
.w3-css-image {
    border: 0;
    width: 88px;
    height: 31px;
}
