/* Set Global HTML Elelments 
background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background: linear-gradient(-45deg, #23d5ab, #0180ae, #23a6d5, #23d5ab);
*/
body {
    background: linear-gradient(-45deg, #9611ca, #236ad5, #23a6d5, #d874ff);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    color: #000000;
    font-family: Poppins, Helvetica, sans-serif;
    font-size: 12pt;
    font-weight: 500;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.container {
    display: grid;
    background-color: #ffffff;
    width: 95%;
    max-width: 1280px;
    margin: 0px auto;
    padding: 10px 20px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        'hd hd hd hd hd hd hd hd'
        'main main main main main main main main'
        'ft ft ft ft ft ft ft ft';
    border: 1px #b2b2b2 solid;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

header {
    grid-area: hd;
    display: flex;
    margin: 0;
    padding: 0;
    border-bottom: 1px #d2d2d2 solid;
    color: #333333;
}

header h1 {
    text-align: left;
    display: block;
    order: 0;
    width: 30%;
    align-items: center;
    font-size: 24pt;
}

header h1 img {
    display: block;
    float: left;
    text-decoration: none;
    width: 60px;
    height: 60px;
    align-items: center;
}

a {
    color: #333333;
}
a:hover {
    color: red;
}

header h1 a {
    display: block;
    float: left;
    width: auto;
    padding-top: 5px;
    margin: 0px 10px;
    text-decoration: none;
    align-items: center;
}

nav {
    text-align: left;
    display: block;
    order: 0;
    width: 70%;
    align-items: center;
    position: relative;
}

header .nav {
    display: flex;
    justify-content: right;
    margin-top: 40px;
    overflow: hidden;
    position: relative;
}

header .nav li {
    display: block;
    margin: 0px 10px;
}

header .nav li i {
    margin: 0px 10px;
}

header .nav li a {
    text-decoration: none;
    font-weight: 600;
}

header .nav li.active a {
    color: red;
}

.sidebar {
    grid-area: sd;
}

.content {
    grid-area: main;
    padding: 10px;
}

.slider img {
    width: 100%;
    height: auto;
}

footer {
    grid-area: ft;
    border-top: 1px #d2d2d2 solid;
}

.copyrights {
    margin-top: 15px;
    float: left;
    font-weight: bold;
}

.social {
    margin-top: 15px;
    margin-left: 15px;
    float: left;
}

.social a {
    text-decoration: none;
    font-size: 24px;
}

.w3-p {
    float: right;
    margin-right: 10px;
}

.w3-image {
    border: 0;
    width: 88px;
    height: 31px;
}

.menu-btn,
.menu-btn::before,
.menu-btn::after {
    cursor: pointer;
    display: none;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    border-radius: 2px;
    right: 0;
    top: 17px;
    font-size: 20pt;
}

#menu-toggle {
    display: none;
}

@media screen and (max-width: 980px) {
    .container {
        width: 90%;
    }
    .menu-btn,
    .menu-btn::before,
    .menu-btn::after {
        display: block;
    }

    header h1 {
        text-align: left;
        display: block;
        order: 0;
        width: 80%;
        align-items: center;
        font-size: 22pt;
    }

    nav {
        position: relative;
        width: 20%;
        align-items: center;
    }
    header .nav.active {
        display: block;
    }

    header .nav {
        display: none;
        position: absolute;
        top: -5px;
        right: 30px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        border: #d2d2d2 solid 1px;
        padding: 5px 10px;
        width: 200px;
    }

    header .nav li {
        margin-top: 10px;
    }
}
